<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="CommandFile" value="../../AppData/ToyRobotCommand.txt"/>
    <add key="TableLength" value="5"/>
    <add key="TableHeight" value="5"/>
  </appSettings>
</configuration>